<div class="container-fluid nav-container">
    <!--Nav menu starts here -->
    <div class="row header-row">
        <div class="col-sm-12">
            <div class="nav-icons pull-left">
                <span title="menu" id="nav-icon" class="hvr-pulse-shrink menu-open"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </div>
            <div class="blog-title pull-right">
                <span id="head-data" data-ispost="<%- is_post()?"true":"false"%>" data-person-info='<%- encodeURIComponent(JSON.stringify(config.dstkd).replace(/'/g, "%27")) %>' ></span>
                <h1 class="hvr-rotate" title="go to homepage"><a href="<%- url_for(config.root) %>"><%= config.title %></a></h1>
                <%- image_tag("img/emma_bw_512.jpg", {title:"click me!", class:"img site-title-img hvr-pulse-grow"}) %>
            </div>
        </div>
    </div>
</div>
