<%- partial('head') %>
<body class="container-fluid main-container">
<%- partial('_partial/menus/left-menu') %>
<div class="page-content">
    <%- partial('_partial/header/style-1', { page:page }) %>

    <% if (is_home()) { %>
        <div id="fullpage">
            <div class="section home-section">
                <%- partial('_partial/home/style-1') %>
            </div>
            <div class="section blog-section">
                <%- partial('_partial/blog-roll/style-1', { page:page }) %>
            </div>
            <!-- <div class="section project-section">
                Some section
            </div> -->
            <div class="section contact-section">
                <%- partial('_partial/contact/style-1') %>
            </div>
        </div>
    <% } %>
    <% if (is_post()) { %><%- partial('post') %><% } %>
    <% if (is_category()) { %><%- partial('category') %><% } %>
    <% if (is_tag()) { %><%- partial('category') %><% } %>
    <% if (is_archive()) { %><%- partial('archive') %><% } %>
    <% if (is_page()) { %><%- partial('page') %><% } %>
</div>
</body>
</html>