<%- partial('head') %>
<body class="container theme-light hide-left-menu hide-right-menu">
<%- partial('_partial/header', { page: page }) %>
<%- partial('_partial/menus/left') %>
<%- partial('_partial/menus/right') %>
<% if (is_home()) { %>
    <div class="content">
        <div id="fullpage">
            <div class="section home-section">
                <%- partial('_partial/pages/home') %>
            </div>
            <div class="section blog-section">
                <%- partial('_partial/pages/blog-roll', { page: page }) %>
            </div>
            <!-- <<div class="section project-section">
                <%- partial('_partial/pages/projects') %>
            </div> -->
        </div>
    </div>
<% }
    else if (is_post() || is_page()) { %>
        <div class="content scroll-y">
            <% if (is_page()) { %><%- partial('page') %><% } %>
            <% if (is_post()) { %><%- partial('post') %><% } %>
        </div>
    <% } else { %>
    <div class="content scroll-y archive-section">
        <% if (is_category()) { %><%- partial('category') %><% } %>
        <% if (is_tag()) { %><%- partial('category') %><% } %>
        <% if (is_archive()) { %><%- partial('archive') %><% } %>
    </div>
<% } %>
<%- partial('_partial/footer') %>
<%- js('js/main.js') %>
</body>
</html>