<div class="container home-container">
  <div class="row home blog-row">
    <div class="col-xs-12 col-sm-12 col-md-4  center-column-content">
      <img class="home-image rounded float-right blog-featured-image" src="<%- config.dstkd.person_info.nav_img_url %>" alt="<%- config.dstkd.person_info.nav_img_caption %>">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 center-column-content">
      <div class="about-me-info blog-excerpt-content">
        <div class="about-me-intro"><%- config.dstkd.person_info.intro %></div>
        <div class="about-me-text"><%- config.dstkd.person_info.description %></div>
        <div class="soc-media-container">
          <a class="soc-media-link" title="Send me an e-mail" href="#contact"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a class="soc-media-link" target="_blank" title="Follow me on Twitter" href="<%- config.dstkd.social_media_links.twitter %>"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a class="soc-media-link" target="_blank" title="See my Github" href="<%- config.dstkd.social_media_links.github %>"><i class="fa fa-github" aria-hidden="true"></i></a>
          <a class="soc-media-link" target="_blank" title="Follow me on Medium" href="<%- config.dstkd.social_media_links.medium %>"><i class="fa fa-medium" aria-hidden="true"></i></a>
          <a class="soc-media-link" target="_blank" title="Find me on LinkedIn" href="<%- config.dstkd.social_media_links.linkedin %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>
