<div class="container-fluid blog-header">
    <!--Nav menu starts here -->
    <div class="row header-row">
        <div class="col-sm-12">
            <div class="nav-icons pull-left">
                <span title="menu" id="nav-icon" class="hvr-pulse-shrink"><i class="fa fa-bars" aria-hidden="true"></i></span>
                <span class="icon-separator">|</span>
                <span title="archive" id="archive-icon" class="hvr-pulse-shrink"><i class="fa fa-archive" aria-hidden="true"></i></span>
            </div>
            <div class="blog-title pull-right">
                <span id="head-data" data-ispost="<%- is_post()?"true":"false"%>" data-person-info='<%- encodeURIComponent(JSON.stringify(config.dstkd).replace(/'/g, "%27")) %>' ></span>
                <h1 class="hvr-rotate" title="go to homepage"><a href="<%- url_for(config.root) %>"><%= config.title %></a></h1>
                <%- image_tag("img/emma_casual_bust_512.png", {title:"click me!", class:"img site-title-img hvr-pulse-grow"}) %>
                <p class="lead-container"><span class="lead"></span></p>
            </div>
        </div>
    </div>
</div>
