<!-- LEFT SIDE MENU -->
<div class="sliding-menu flex-center-wrapper flex-column left-menu">
    <div class="starry-sky">
        <div class='stars'></div>
        <div class='stars2'></div>
        <div class='stars3'></div>
    </div>
    <ul class="left-menu-li-items">
        <li>
            <a href="http://emmanuel.destacked.com" target="_blank">about</a>
        </li>
        <li>
            <a href="#" target="_blank">portfolio</a>
        </li>
        <li>
            <a href="#" target="_blank">contact me</a>
        </li>
        <li>
            <a href="https://github.com/emmanuelnk" target="_blank">github</a>
        </li>
    </ul>
    <span class="sliiider-exit exit left-exit hvr-pulse-grow">&#215</span>
    <!--<canvas id="network-nodes-canvas"></canvas>-->
</div><!--Nav menu ends here -->

<!-- RIGHT SIDE MENU -->
<!--<% if (config.dstkd.secondary_slide_menu) { %>-->
<!--<div  ss-container class="sliding-menu flex-top-wrapper flex-column right-menu">-->
<!--<div class="starry-sky">-->
<!--<div class='stars'></div>-->
<!--<div class='stars2'></div>-->
<!--<div class='stars3'></div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<span class="sliiider-exit exit right-exit hvr-pulse-grow">&#215</span>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row right-menu-row">-->
<!--<div class="col-md-12">-->
<!--<% if (site.posts.length) { %>-->
<!--<h3 class="right-side-menu-heading" data-toggle="collapse" data-target=".recent-posts-list">Recent Posts<i class="fa fa-caret-down dropdown-caret" aria-expanded="true"></i></h3>-->
<!--<ul class="right-menu-li-items recent-posts-list">-->
<!--<% site.posts.sort('date', -1).limit(5).each(function(post){ %>-->
<!--<li>-->
<!--<a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>-->
<!--</li>-->
<!--<% }) %>-->
<!--</ul>-->
<!--<% } %>-->
<!--<h3 class="right-side-menu-heading" data-toggle="collapse" data-target=".categories-list">Categories<i class="fa fa-caret-down dropdown-caret" aria-expanded="true"></i></h3>-->
<!--<%- list_categories({class: "categories"}) %>-->
<!--<h3 class="right-side-menu-heading" data-toggle="collapse" data-target=".archives-list">Archives<i class="fa fa-caret-down dropdown-caret" aria-expanded="true"></i></h3>-->
<!--<%- list_archives({class: "archives", order: -1}) %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<% } %>-->

<% if (config.dstkd.secondary_slide_menu) { %>
<div class="sliding-menu sliding-menu-right flex-top-wrapper flex-column right-menu">
    <div class="starry-sky">
        <div class='stars'></div>
        <div class='stars2'></div>
        <div class='stars3'></div>
    </div>
    <span class="sliiider-exit exit right-exit hvr-pulse-grow">&#215</span>
    <div class="card soc-card">
        <img class="card-img-top" src="<%- config.dstkd.person_info.nav_img_url %>" alt="Card image cap">
        <div class="card-block soc-media-card-block">
            <h2 class="card-title"><%- config.dstkd.person_info.fullname %></h2>
            <h6 class="soc-card-title-links">
                <div class="block-1">
                    <i style="padding:0 1rem 0 0" class="fa fa-heart"
                       aria-hidden="true"></i><%- config.dstkd.person_info.country %><img src="<%- url_for('/img/blank.gif') %>" style="vertical-align: baseline;margin-left: 0.3rem;" class="flag flag-ug"/><br>
                    <i style="padding:0 1.2rem 0 0.2rem" class="fa fa-map-marker"
                       aria-hidden="true"></i><%- config.dstkd.person_info.location %>
                </div>
                <div class="block-2">
                    <a target="_blank" href="<%- config.dstkd.person_info.website.link %>"><i
                                style="padding:0 1rem 0 0.1rem" class="fa fa-globe"
                                aria-hidden="true"></i><%- config.dstkd.person_info.website.title %></a><br>
                    <a target="_blank" href="<%- config.dstkd.person_info.resume.link %>"><i
                                style="padding:0 1rem 0 0rem" class="fa fa-rocket"
                                aria-hidden="true"></i><%- config.dstkd.person_info.resume.title %></a>
                </div>
            </h6>
            <p class="card-text" style="padding-top:1rem;"><%- config.dstkd.person_info.description %></p>
            <div class="soc-media-container">
                <a class="soc-media-link" target="_blank" title="Contact me by email"
                   href="<%- config.dstkd.social_media_links.contact %>"><i class="fa fa-envelope-o"
                                                                            aria-hidden="true"></i></a>
                <a class="soc-media-link" target="_blank" title="See my Github"
                   href="<%- config.dstkd.social_media_links.github %>"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a class="soc-media-link" target="_blank" title="Follow me in Medium"
                   href="<%- config.dstkd.social_media_links.medium %>"><i class="fa fa-medium" aria-hidden="true"></i></a>
                <a class="soc-media-link" target="_blank" title="Find me on LinkedIn"
                   href="<%- config.dstkd.social_media_links.linkedin %>"><i class="fa fa-linkedin"
                                                                             aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<% } %>


