<% if (post.hero_image) { %>
<div class="wide">
    <img src="<%- url_for(post.path) + post.hero_image %>" class="wide-img ">
</div>
<% } %>
<div class="container blog-roll roll-post">
    <div class="row blog-row title-box-row">
        <div class="col-xs-12">
            <h1><%- post.title %></h1>
            <br>
            <h6><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                <% if(post.author) { %>
                <%- __("by") %> &nbsp<%- post.author %>,&nbsp
                <% } %>
                <%- date(post.date, "dddd, MMM D YYYY") %></h6>
            <% if (post.categories.length > 0) { %>
            <h6><i class="fa fa-bookmark-o fa-fw" aria-hidden="true"></i>
                <% post.categories.forEach(function(category){ %>
                <a class="category-link hvr-pulse-shrink" title="<%- __("post.view_all_cat")%>: <%- category.name %>" href="<%- category.permalink %>"><%- category.name %></a>
                <% }); %>
            </h6>
            <% } %>
        </div>
    </div>
    <div class="row blog-row">
        <div class="col-xs-12 col-sm-9 col-md-9 hidden-overflow-x">
            <p><%- post.content %></p>
            <% if (post.tags.length > 0) { %>
            <p>
                <% post.tags.forEach(function(tag){ %>
                <a class="blog-post-tag hvr-pulse-shrink" href="<%- tag.permalink %>">
                    <i class="fa fa-tag fa-fw" aria-hidden="true"></i><%- tag.name %>
                </a>
                <% }); %>
            </p>
            <% } %>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 widget-col">
            <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        </div>
    </div>
    <div class="row blog-row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-nav-col">
            <% if (post.prev) { %>
            <div class="post-nav-container" data-link="<%- url_for(post.prev.path) %>">
                <div class="post-nav-icon"><a href="<%- url_for(post.prev.path) %>" class="seotitlelink"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></div>
                <img src="<%- post.prev.featured_image %>" class="rounded img-fluid post-nav-image" alt="...">
                <div class="post-nav-text">
                    <a href="<%- url_for(post.prev.path) %>" class="seotitlelink"><%- post.prev.title %></a></div>
            </div>
            <% } %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post-nav-col">
            <% if (post.next) { %>
            <div class="post-nav-container" data-link="<%- url_for(post.next.path) %>">
                <div class="post-nav-text"><a href="<%- url_for(post.next.path) %>" class="seotitlelink"><%- post.next.title %></a></div>
                <img src="<%- post.next.featured_image %>" class="rounded img-fluid post-nav-image" alt="...">
                <div class="post-nav-icon"><a href="<%- url_for(post.next.path) %>" class="seotitlelink"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="row blog-row">
        <div class="col-xs-12 col-sm- 9 col-md-9">
            <div id="disqus_thread"></div>
            <%- partial('_partial/disqus-comments',{config: config,page:page})%>
        </div>
    </div>

</div>